<h2>Реєстрація користувача</h2>
<form method="post">
    {% csrf_token %}
    
    {% for field in form %}
        <div style="margin-bottom: 15px;">
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}
                <div style="color: red;">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit">Створити акаунт</button>
</form>
<h2>Реєстрація</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зареєструватися</button>
</form>

<hr>
<p>Вже є акаунт?</p>
<a href="{% url 'login' %}"><button type="button">Увійти замість реєстрації</button></a>